{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!--# 2.9 Adding the CSS styling for the footer-->

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Static file links for Vega-lite-->
    <script src="https://cdn.jsdelivr.net/npm/vega@5.11.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@4.12.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6.8.0"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">



    <style type="text/css" media="screen">

        .vega-actions a {
            margin-right: 50px;
        }

        .pagination-number {
            margin-right: 1em;
            margin-left: 1em;
        }

        .delete-confirmation-objects {
            width: 1100px;
            margin-top: 1em;
            margin-bottom: 1em;
            margin-right: 5em;
            margin-left: 5em;
            padding: 2em;
            background-color: #fdfdff;
            border-radius: 0.5em;
            box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.02);
        }


        footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            height: auto;
            line-height: 25px;
            background-color: #343a40;
            text-align: center;
            text-decoration-color: white;

        }

        .table-responsive {
            width: 1100px;
            margin-top: 1em;
            margin-bottom: 1em;
            margin-right: 5em;
            margin-left: 5em;
            padding: 2em;
            background-color: #fdfdff;
            border-radius: 0.5em;
            box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.02);
        }

        td, tr, th {
            border-style: groove;
        }

        .table-name-view {
            width: 200px;
            height: 10px;
            text-align: center;
        }

        .table-detail-list-view {
            width: 200px;
            height: auto;
            text-align: center;
        }


        .database-headers {
            width: 1100px;
            margin-top: 1em;
            margin-bottom: 1em;
            margin-right: 5em;
            margin-left: 5em;
            padding: 2em;
            background-color: #fdfdff;
            border-radius: 0.5em;
            box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.02);
        }

        .database-headers-pagination {
            width: 1100px;
            height: 150px;
            margin-top: 1em;
            margin-bottom: 1em;
            margin-right: 5em;
            margin-left: 5em;
            padding: 0.5em;
            border-radius: 0.5em;
            box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.02);
        }


        body {
            background-color: #f0f0f2;
            margin: 0;
            padding: 0;
            font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

    </style>
    <title>
        {% block title %}
            <!--Title will get inserted by the inheriting template-->
        {% endblock %}
    </title>
</head>
<body>


<div>
    <!--I designed the nav bar over here-->
    <header>

        <!--# 2.2 Adding the collapsable menu-->
        <!--This is the collapsible top menu-->
        <div class="pos-f-t">
            <div class="collapse" id="navbarToggleExternalContent">
                <!--Add all the menu items inside this container to which will be visible once reveal button is clicked-->
                <div class="bg-light p-4"> <!--Changing the class to bg-light p-4 for ligher background-->


                    <!--# 2.3 Adding another kind of nav-bar-->
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <!--id will act as name of this particular menu-->
                            <!--href will act as the connecting point for sub-data-->
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home"
                               role="tab"
                               aria-controls="pills-home" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-hibcat-tab" data-toggle="pill" href="#pills-hibcat" role="tab"
                               aria-controls="pills-profile" aria-selected="false">D3 JS</a>
                        </li>

                        <!--Data Grid 1-->
                        <li class="nav-item">
                            <a class="nav-link" id="pills-data-grid-1-tab" data-toggle="pill" href="#pills-data-grid-1"
                               role="tab"
                               aria-controls="pills-contact" aria-selected="false">React JS</a>
                        </li>

                        <!--Data Grid 2-->
                        <li class="nav-item">
                            <a class="nav-link" id="pills-data-grid-2-tab" data-toggle="pill" href="#pills-data-grid-2"
                               role="tab"
                               aria-controls="pills-contact" aria-selected="false">React-D3 JS</a>
                        </li>

                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <!--This div contains the design for all the level 2 navbar submenu-->
                        <!--Home tab display items-->
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                             aria-labelledby="pills-home-tab">
                            <!--# 2.4-->
                            <!--div with class 'card-deck' arranges multiple cards with equal space-->
                            <!--Put as many cards as you want in it-->
                            <div class="card-deck">

                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">About the Project</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">August 18, 2020</h6>
                                        <p class="card-text">The project consists of three parts.
                                        <li>D3 JS: Tab containing visualizations of D3 based libraries</li>
                                        <li>React JS: Tab containing visualizations of React based libraries
                                        </li>
                                        <li>React-D3 JS: Hybrid libraries based on both D3 and React
                                        </li>
                                        <li>Admin : Admin controlled applications to control contents of above three
                                            project
                                            parts
                                        </li>
                                        </p>
                                    </div>
                                </div>

                                <div class="card text-center">
                                    <div class="card-header">
                                        Featured
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">GIES-DSRS Prototype Project</h5>
                                        <p class="card-text">Developed by Mohit Gupta</p>
                                        <!--Enter the link for about.html-->

                                        <!-- Fix this-->
                                        <a href="" class="btn btn-primary">About Us</a>
                                    </div>
                                    <div class="card-footer text-muted">
                                        Updated: August 18, 2020
                                    </div>
                                </div>


                            </div>

                        </div>

                        <!--D3 tab display items-->
                        <div class="tab-pane fade" id="pills-hibcat" role="tabpanel" aria-labelledby="pills-hibcat-tab">

                            <!--# 2.5-->
                            <!--D3 tab display items-->
                            <div class="card-deck">

                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">D3 JS Visualizations</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Release Date: August 18, 2020</h6>
                                        <p class="card-text">Main focus of D3 is to create visualizations from tabular data.</p>

                                        <!--Fix this-->
                                        <a href="#" class="card-link">Get Started</a>
                                    </div>
                                </div>

                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">Supported D3 based libraries:</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Date: August 18, 2020</h6>

                                        <!-- Fix this-->
                                        <a href="" class="card-link">Vega-Lite</a>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <!--React JS tab display items-->
                        <div class="tab-pane fade" id="pills-data-grid-1" role="tabpanel"
                             aria-labelledby="pills-data-grid-1-tab">

                            <!--# 2.6-->
                            <div class="card-deck">

                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">React JS Visualizations</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Release Date: August 18, 2020</h6>
                                        <p class="card-text">Main focus of React is to create user-interface for displaying visualizataions.</p>

                                        <!--Fix this-->
                                        <a href="#" class="card-link">Get Started</a>
                                    </div>
                                </div>

                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">Supported React based libraries:</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Date: August 18, 2020</h6>

                                        <!-- Fix this-->
                                        <a href="" class="card-link"></a>
                                    </div>
                                </div>

                            </div>


                        </div>

                        <!--React JS - D3 tab display items-->
                        <div class="tab-pane fade" id="pills-data-grid-2" role="tabpanel"
                             aria-labelledby="pills-data-grid-2-tab">

                            <div class="card-deck">

                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">React - D3 Hybrid JS Visualizations</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Release Date: August 18, 2020</h6>
                                        <p class="card-text">Integrating D3 with React </p>

                                        <!--Fix this-->
                                        <a href="#" class="card-link">Get Started</a>
                                    </div>
                                </div>

                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">Supported React-D3 based libraries:</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Date: August 18, 2020</h6>

                                        <!-- Fix this-->
                                        <a href="" class="card-link"></a>
                                    </div>
                                </div>

                            </div>

                        </div>


                    </div>


                </div>


            </div>
        </div>

        <!--This is the dark navbar which when clicked on menu button, reveals/collapses-->
        <nav class="navbar navbar-dark bg-dark">


            <!--Fix this-->
            <!--Put the authentication back over here-->



            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>


    </header>


    <!--2.9 Designing the space for the main content of the page-->
    <main>
        {% block content %}

            <!--This will contain the header div-->
            {% block content-header %}

            {% endblock %}

            <!--This will contain the table-->
            {% block content-table %}

            {% endblock %}

        {% endblock %}

    </main>
    <div class="database-headers-pagination">

        {% if is_paginated %}
            <div class="row">
                <div class="twelve columns">
                    <ul class="pagination">
                        {% if first_page_url %}
                            <li class="pagination-number">
                                <a href="{{ first_page_url }}">
                                    First</a>
                            </li>
                        {% endif %}
                        {% if previous_page_url %}
                            <li class="pagination-number">
                                <a href="{{ previous_page_url }}">
                                    Previous</a>
                            </li>
                        {% endif %}
                        <li class="pagination-number">
                            Page {{ page_obj.number }}
                            of {{ paginator.num_pages }}
                        </li>
                        {% if next_page_url %}
                            <li class="pagination-number">
                                <a href="{{ next_page_url }}">
                                    Next</a>
                            </li>
                        {% endif %}
                        {% if last_page_url %}
                            <li class="pagination-number">
                                <a href="{{ last_page_url }}">
                                    Last</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        {% endif %}

    </div>


</div>

<!--# 2.8 Adding the footer-->
<footer class="footer mt-auto py-3">
    <div class="container">
        <span class="text-muted"
              style="text-align: center">© Mohit Gupta | University of Illinois at Urbana-Champaign</span>
    </div>
</footer>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


</body>
</html>