<!--I am inheriting this template into the parent template base.html-->
{% extends 'dsrs_viz/base.html' %}

{% block title %}
    React JS
{% endblock %}


{% block content %}

    {% block content-header %}
        <div class="database-headers">
            <h3> Name: React JS</h3>

            <a href="{{ react_js.get_update_url }}">
                <button type="button" class="btn btn-primary">Edit Entry</button>
            </a>
            <a href="{{ react_js.get_delete_url }}">
                <button type="button" class="btn btn-primary">Delete Entry</button>
            </a>

            <a href="{{ request.META.HTTP_REFERER|escape }}">
                <button type="button" class="btn btn-primary"
                        style="float: right;">
                    Back
                </button>
            </a>


        </div>

    {% endblock %}
    <!--This will contain the table-->
    {% block content-table %}
        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <th scope="row" class='table-detail-list-view'>Figure Number</th>
                    <td>{{ react_js.figure_no }}</td>
                </tr>
                <tr>
                    <th scope="row" class='table-detail-list-view'>Author</th>
                    <td>{{ react_js.author }}</td>
                </tr>
                <tr>
                    <th scope="row" class='table-detail-list-view'>Library Name</th>
                    <td>{{ react_js.library_name }}</td>
                </tr>
                <tr>
                    <th scope="row" class='table-detail-list-view'>Heading</th>
                    <td>{{ react_js.heading }}</td>
                </tr>
                <tr>
                    <th scope="row" class='table-detail-list-view'>Description</th>
                    <td>{{ react_js.description }}</td>
                </tr>

                <tr>
                    <th scope="row" class='table-detail-list-view'>JS Code</th>
                    <td>{{ react_js.js_code }}</td>
                </tr>
                <tr>
                    <th scope="row" class='table-detail-list-view'>Notes</th>
                    <td>{{ react_js.notes }}</td>
                </tr>


            </table>
        </div>

    {% endblock %}

{% endblock %}