{% extends 'dsrs_viz/base.html' %}

{% block title %}
    React JS
{% endblock %}

{% block content %}

     {% block content-header %}
        <div class="database-headers">
            <h3> Data Table: React JS</h3>
                <a href="{% url 'dsrs_viz_react_js_create_urlpattern' %}">
                    <button type="button" class="btn btn-primary">Create new entry</button>
                </a>
        </div>
     {% endblock %}


    {% block content-table %}
        {% for react_js in react_js_list %}
            <div class="table-responsive">
                <li>
                    <a href="{{ react_js.get_absolute_url }}"> {{ react_js }}</a>
                </li>
            </div>

        {% endfor %}


    {% endblock %}

{% endblock %}