{% extends 'dsrs_viz/base.html' %}

{% block title %}
    D3 JS
{% endblock %}

{% block content %}

         {% block content-header %}
        <div class="database-headers">
            <h3> Data Table: D3 JS</h3>
            {% if perms.dsrs_viz.view_d3_js %}
                <a href="{% url 'dsrs_viz_d3_js_create_urlpattern' %}">
                    <button type="button" class="btn btn-primary">Create new entry</button>
                </a>
        {% endif %}
        </div>
     {% endblock %}


    {% block content-table %}

        {% for d3_js in d3_js_list %}
            <div class="table-responsive">
                <li>
                    <a href="{{ d3_js.get_absolute_url }}"> {{ d3_js }}</a>
                </li>
            </div>

        {% endfor %}

    {% endblock %}





{% endblock %}